<link rel="stylesheet" href="../css/article-alt.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<section class="article-sect">
    <div class="article-content">
        <div class="article-text-block">
            <h1 class="article-title">Welcome to Booksy – your cozy corner for handpicked reads.</h1>
            <p class="article-text">We believe books are more than just stories – they're companions, doorways, and
                memories. Whether you're
                chasing adventures or quiet moments, we're here to help you find your next favorite book.</p>
        </div>
        <div class="article-image-block">
            <picture>
                <source srcset="../img/article/article.webp 1x, ../img/article/article@2x.webp 2x"
                    media="(min-width: 1024px)">
                <source srcset="../img/article/article-tablet.webp 1x, ../img/article/article-tablet@2x.webp 2x"
                    media="(min-width: 768px) and (max-width: 1023px)">
                <img src="../img/article/article-mobile.webp"
                    srcset="../img/article/article-mobile.webp 1x, ../img/article/article-mobile@2x.webp 2x"
                    alt="A person reading in a cozy library setting with many bookshelves and comfortable chairs."
                    class="article-image">
            </picture>
        </div>
</section>