<section class="section books" id="books">
  <div class="container books-container">
    <h2 class="visually-hidden">Trending books</h2>
    <div class="books-categories">
      <div class="books-categories-texts">
        <h3 class="b-categories-title">Books</h3>
        <p class="b-categories-_text">Showing 0 of 0</p>
      </div>
      <nav class="categories-nav">
        <button type="button" class="categories-dropdown" aria-expanded="false">
          Categories
          <span class="dropdown-arrow">
            <svg class="burger-btn" width="24" height="24">
              <use href="ico-sprite.svg#icon-chevron-down"></use>
            </svg>
          </span>
        </button>
        <ul class="b-categories-list"></ul>
      </nav>
    </div>

    <div class="books-content">
      <div class="books-data">
        <ul class="books-data-list"></ul>
      </div>
      <div class="loader hidden"></div>
      <div class="not-found hidden">
        <div class="not-found-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="64"
            height="64"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#FF6B0A"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="12" cy="12" r="10" />
            <line x1="4.93" y1="4.93" x2="19.07" y2="19.07" />
          </svg>
        </div>
        <h2 class="not-found-title"></h2>
        <p class="not-found-description">
          We couldn't find any books in this category.<br />Please try different
          one.
        </p>
      </div>
      <button type="button" class="main-button books-show-more display-none">
        Show More
      </button>
    </div>
  </div>
</section>
