<section class="feedbacks-section" id="feedbacks">
  <div class="container feedbacks-container-max">
    <h2 class="feedbacks-title">Customer Feedbacks</h2>
    <p class="feedbacks-paragraf">See what our readers are saying about us!</p>

    <div class="feedbacks-swiper swiper" data-feedbacks-swiper>
      <ul class="swiper-wrapper feedbacks-swiper-list">
        <li class="feedbacks-list-item swiper-slide">
          <div class="feedbacks-item-container">
            <p class="feedbacks-text">
              Great selection, fast delivery, and beautifully packaged books. My
              go-to store for weekend reads!
            </p>
            <div class="feedbacks-container">
              <picture>
                <source
                  srcset="
                    /img/feedbacks/jane@1x.png 1x,
                    /img/feedbacks/jane@2x.png 2x
                  "
                />
                <img
                  class="reviews-item-img"
                  src="/img/feedbacks/jane@1x.png"
                  alt="photo Jane"
                  width="48"
                />
              </picture>
              <div class="feedbacks-container-mini">
                <h3 class="feedbacks-name">Jane Doe</h3>
                <p class="feedbacks-person">Book Lover, Reader</p>
              </div>
            </div>
          </div>
        </li>

        <li class="feedbacks-list-item swiper-slide">
          <div class="feedbacks-item-container">
            <p class="feedbacks-text">
              Customer service was super helpful, and my order arrived earlier
              than expected.Highly recommend!
            </p>
            <div class="feedbacks-container">
              <picture>
                <source
                  srcset="
                    /img/feedbacks/john@1x.png 1x,
                    /img/feedbacks/john@2x.png 2x
                  "
                />
                <img
                  class="reviews-item-img"
                  src="/img/feedbacks/john@1x.png"
                  alt="photo John"
                  width="48"
                />
              </picture>
              <div class="feedbacks-container-mini">
                <h3 class="feedbacks-name">John Smith</h3>
                <p class="feedbacks-person">Editor, BookMag</p>
              </div>
            </div>
          </div>
        </li>

        <li class="feedbacks-list-item swiper-slide">
          <div class="feedbacks-item-container">
            <p class="feedbacks-text">
              Love the curated picks and clear descriptions. Makes it easy to
              find my next favorite book. I liked it!
            </p>
            <div class="feedbacks-container">
              <picture>
                <source
                  srcset="
                    /img/feedbacks/emily@1x.png 1x,
                    /img/feedbacks/emily@2x.png 2x
                  "
                />
                <img
                  class="reviews-item-img"
                  src="/img/feedbacks/emily@1x.png"
                  alt="photo Jane"
                  width="48"
                />
              </picture>
              <div class="feedbacks-container-mini">
                <h3 class="feedbacks-name">Emily Johnson</h3>
                <p class="feedbacks-person">Author, Novelist</p>
              </div>
            </div>
          </div>
        </li>

        <li class="feedbacks-list-item swiper-slide">
          <div class="feedbacks-item-container">
            <p class="feedbacks-text">
              Great selection, fast delivery, and beautifully packaged books. My
              go-to store for weekend reads!
            </p>
            <div class="feedbacks-container">
              <picture>
                <source
                  srcset="
                    /img/feedbacks/mari@1x.png 1x,
                    /img/feedbacks/mari@2x.png 2x
                  "
                />
                <img
                  class="reviews-item-img"
                  src="/img/feedbacks/mari@1x.png"
                  alt="photo Jane"
                  width="48"
                />
              </picture>
              <div class="feedbacks-container-mini">
                <h3 class="feedbacks-name">Mari Noel</h3>
                <p class="feedbacks-person">Book Lover, Reader</p>
              </div>
            </div>
          </div>
        </li>

        <li class="feedbacks-list-item swiper-slide">
          <div class="feedbacks-item-container">
            <p class="feedbacks-text">
              I like the large selection and clear description of the books. I
              love this portal!Highly recommend!
            </p>
            <div class="feedbacks-container">
              <picture>
                <source
                  srcset="
                    /img/feedbacks/ihor@1x.png 1x,
                    /img/feedbacks/ihor@2x.png 2x
                  " />
                <img
                  class="reviews-item-img"
                  src="/img/feedbacks/ihor@1x.png"
                  alt="photo Ihor"
                  width="48"
              /></picture>
              <div class="feedbacks-container-mini">
                <h3 class="feedbacks-name">Ihor Teylor</h3>
                <p class="feedbacks-person">Author</p>
              </div>
            </div>
          </div>
        </li>

        <li class="feedbacks-list-item swiper-slide">
          <div class="feedbacks-item-container">
            <p class="feedbacks-text">
              I love this store! Large assortment, fast and convenient delivery.
              I bought my favorite books here.
            </p>

            <div class="feedbacks-container">
              <picture>
                <source
                  srcset="
                    /img/feedbacks/alex@1x.png 1x,
                    /img/feedbacks/alex@2x.png 2x
                  " />
                <img
                  class="reviews-item-img"
                  src="/img/feedbacks/alex@1x.png"
                  alt="photo Alex"
                  width="48"
              /></picture>
              <div class="feedbacks-container-mini">
                <h3 class="feedbacks-name">Alex Loyer</h3>
                <p class="feedbacks-person">Book Lover, Reader</p>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <div class="feedbacks-controls">
        <div class="feedbacks-custom-swiper-pagination"></div>
        <div class="feedbacks-controls-arrows">
          <div class="feedbacks-swiper-button-left main-button swiper-nav">
            <svg class="feedbacks-svg" width="24" height="24">
              <use href="/public/ico-sprite.svg#icon-left-arrow-alt"></use>
            </svg>
          </div>
          <div class="feedbacks-swiper-button-right main-button swiper-nav">
            <svg class="feedbacks-svg" width="24" height="24">
              <use href="/public/ico-sprite.svg#icon-right-arrow-alt"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
