<header class="header" id="home">
  <div class="container header-container">
    <div class="logo-container">
      <a class="logo" href="./index.html" aria-label="Site logo">
        <svg class="logo-icon" width="84" height="36">
          <use href="{=$icon-path}"></use>
        </svg>
      </a>
      <div class="burger-menu">
        <svg class="burger-btn" width="36" height="36">
          <use href="{=$burger-icon-path}"></use>
        </svg>
      </div>
    </div>
    <nav class="nav">
      <ul class="nav-list header-nav-list">
        <li class="nav-item"><a href="#home" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#books" class="nav-link">Books</a></li>
        <li class="nav-item">
          <a href="#feedbacks" class="nav-link">Feedbacks</a>
        </li>
        <li class="nav-item">
          <a href="#events" class="nav-link">Events</a>
        </li>
        <li class="nav-item">
          <a href="#location" class="nav-link">Location</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link cart-trigger"
            >Cart
            <span class="nav-count" data-cart-count>0</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
