<section class="section" id="location">
  <div class="container location-container">
    <div class="location-container-title">
      <p class="location-name">Location</p>
      <h2 class="location-title">How to find us</h2>
      <p class="location-text">
        Need help finding us?<br />
        Contact us and we’ll guide you right in. <br />We can’t wait to meet
        you!
      </p>
    </div>
    <div class="contacts">
      <ul class="contacts-list">
        <li class="contacts-item">
          <svg width="24" height="24" class="contacts-icon">
            <use href="svg-location.svg#icon-email"></use>
          </svg>
          <div class="contacts-content">
            <p class="contacts-list-item">Email</p>
            <a class="contacts-list-wrapper" href="mailto:hello@booksy.com"
              >hello@booksy.com</a
            >
          </div>
        </li>
        <li class="contacts-item">
          <svg width="24" height="24" class="contacts-icon">
            <use href="svg-location.svg#icon-phone"></use>
          </svg>
          <div class="contacts-content">
            <p class="contacts-list-item">Phone</p>
            <a class="contacts-list-wrapper" href="tel:+61(241)304-3012"
              >+61 (241) 304-3012</a
            >
          </div>
        </li>
        <li class="contacts-item">
          <svg width="24" height="24" class="contacts-icon">
            <use href="svg-location.svg#icon-location"></use>
          </svg>
          <div class="contacts-content">
            <p class="contacts-list-item">Office</p>
            <a
              class="contacts-list-wrapper"
              href="https://www.google.com/maps/search/123+Books+St,+Sydney+NSW+2000+AU/@-33.4004626,151.3955195,9z/data=!3m1!4b1?authuser=0&entry=ttu&g_ep=EgoyMDI1MDYzMC4wIKXMDSoASAFQAw%3D%3D"
              target="_blank"
              >123 Books St, Sydney NSW 2000 AU</a
            >
          </div>
        </li>
      </ul>
    </div>
    <div class="location-map-wrapper">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1656.3271251138501!2d151.20612224638646!3d-33.872800366359975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s123%20Books%20St%2C%20Sydney%20NSW%202000%20AU!5e0!3m2!1suk!2sua!4v1751398008443!5m2!1suk!2sua"
        title="Books location"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="location-map"
      ></iframe>
    </div>
  </div>
</section>
