.books {
	position: relative;
	/*margin: 0;
	padding: 0;*/
	box-sizing: border-box;
}

.not-found {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 12px;
	width: 100%;
}

.not-found.hidden {
	display: none;
}

.not-found-title {
	text-align: center;
}

.books-container {
	display: flex;
	align-items: start;
	flex-direction: column;
}

.books-categories {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.categories-nav {
	padding: 24px 0;
	width: 100%;
}

.categories-dropdown {
	position: relative;
	margin-bottom: 4px;

	border: 1px solid rgba(11, 5, 0, 0.15);
	border-radius: 4px;
	padding: 8px 12px;
	width: 100%;
	background: rgba(11, 5, 0, 0.05);

	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 80;
}

.dropdown-arrow {
	transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.categories-dropdown.is-open .dropdown-arrow {
	transform: rotate(180deg);
}

.b-categories-list {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	margin: 0;
	padding: 0;
	list-style: none;
	border-radius: 4px;
	background: var(--color-input-bg);
}

.b-categories-list.is-open {
	border: 1px solid var(--color-fb-border);
	max-height: 300px;
	overflow-y: auto;
}

.books-categories-texts {
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.b-categories-title {
	font-weight: 600;
	font-size: 20px;
	line-height: 150%;
}

.b-categories-_text {
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
}

.b-categories-itm {
	padding: 8px 12px;
	cursor: pointer;

	&:hover,
	&:focus,
	&:active,
	&.is-active {
		transform: translateY(-2px);
		background-color: var(--color-input-bg);
	}
}

.books-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.books-data {
	padding-bottom: 24px;
}

.books-data-list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 24px;
	row-gap: 40px;
}

.books-data-itm {
	max-width: 343px;
	max-height: 605px;
	width: 100%;
	height: 100%;
	padding: 0;
}

.books-data-img-container {
	margin: 0 auto;
	border-radius: 8px;
	max-height: 480px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.books-data-img {
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
}

.books-data-info {
	padding-top: 16px;
	display: flex;
	align-items: start;
	justify-content: center;
	gap: 8px;
}

.books-data-texts {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
}

.books-data-title {
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	text-transform: capitalize;
	max-width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.books-data-price {
	font-weight: 600;
	font-size: 20px;
	line-height: 150%;
}

.books-data-author {
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	padding-bottom: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.books-data-button {
	order: 1px solid var(--color-main-black);
	border-radius: 4px;
	padding: 8px 20px;
	max-width: 343px;
	width: 100%;
	height: 40px;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
}

.books-show-more {
	border: 1px solid var(--color-main-btn);
	border-radius: 4px;
	padding: 12px 24px;
	max-width: 342px;
	width: 100%;
	height: 48px;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: var(--color-white);
	background-color: var(--color-main-btn);
}

.not-found-description {
	text-align: center;
}

@media (min-width: 768px) {

	/*.books-categories-texts {
		padding: 24px 0;
	}*/
	.categories-nav {
		padding: 0px;
	}

	.books-categories {
		align-items: start;
		flex-direction: row;
		padding-bottom: 24px;
		gap: 24px;
	}

	.books-data-itm {
		max-width: 340px;
		max-height: 600px;
		width: 100%;
		height: 100%;
	}

	.books-data-title,
	.books-data-author {
		max-width: 260px;
	}

	.books-data-img-container {
		height: 484px;
	}
}

@media (min-width: 1440px) {
	.categories-dropdown {
		display: none;
	}

	.books-container {
		flex-direction: row;
		gap: 24px;
	}

	.books-categories {
		max-width: 308px;
		flex-direction: column;
	}

	.b-categories-list,
	.b-categories-list.is-open {
		max-height: 100%;
		background-color: var(--color-main-bg);
		border: none;
	}

	.books-data-img-container {
		max-width: 227px;
	}

	.books-data {
		width: 980px;
	}

	.books-data-itm {
		max-width: 227px;
		max-height: 440px;
		width: 100%;
	}

	.books-data-title,
	.books-data-author {
		max-width: 150px;
	}

	.books-data-info {
		gap: 8px;
	}

	.books-data-img-container {
		height: 322px;
	}

	.categories-nav,
	.books-categories {
		padding: 0;
		gap: 0;
	}

	.books-categories-texts {
		padding: 0 0 24px 0;
	}

	.b-categories-itm {
		padding: 8px 0;
		cursor: pointer;
	}

}

@media (max-width: 350px) {

	.books-data-title,
	.books-data-author {
		max-width: 200px;
	}
}