.cart-modal {
  background-color: var(--color-main-bg);
  max-width: 650px;
  max-height: 90vh;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 10px 30px var(--color-input-bg);
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cart-close-btn {
  position: sticky;
  text-align: right;
  top: 0;
  right: 0;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 4px 12px;
}

.cart-modal-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.cart-products-section {
  min-width: 200px;
  width: 100%;
  flex: 2;
}

.cart-title {
  font-size: 28px;
  margin-bottom: 16px;
}

.cart-products {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cart-summary-section {
  background: var(--color-bamboo-lighter);
  padding: 18px;
  border-radius: 12px;
  flex: 1;
  width: 100%;
}

.cart-summary-list {
  list-style: none;
  padding: 0;
  margin: 0 0 16px 0;
}

.cart-summary-list li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid var(--color-footer-bg);
}

.cart-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-empty-img {
  padding-bottom: 16px;
}

.cart-buy-btn {
  margin-top: 16px;
  width: 100%;
}
.cart-item-btn {
  padding: 4px 4px;
  font-size: 12px;
}

@media (min-width: 768px) {
  .cart-modal-content {
    flex-direction: row;
    gap: 32px;
  }

  .cart-summary-section {
    width: 300px;
    align-self: flex-start;
    position: sticky;
    top: 0;
  }
}

/* тут динаміка */
.cart-item-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: start;
  justify-content: start;
  gap: 10px;
}

.cart-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
  padding: 12px 0;
  border-bottom: 1px solid var(--color-footer-bg);
}

.cart-item-thumb {
  flex-shrink: 0;
  width: 60px;
  height: 90px;
  overflow: hidden;
  border-radius: 4px;
  background-color: var(--color-main-bg);
}

.cart-item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.cart-item-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cart-item-title {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.cart-item-author {
  font-size: 14px;
  color: var(--opacity-neutral-darkest-60);
  margin: 0;
}

.cart-item-meta {
  display: flex;
  gap: 12px;
  font-size: 14px;
  margin-top: 8px;
}

.cart-item-price,
.cart-item-qty,
.cart-item-total {
  color: var(--opacity-neutral-darkest-60);
}
