img {
  display: block;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.feedbacks-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-2-text);
  margin-bottom: 24px;
  width: 100%;
}

.feedbacks-paragraf {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-scheme-2-text);
  width: 100%;
  margin-bottom: 80px;
}

.feedbacks-list-item {
  width: 100%;
  min-height: 314px;
  height: auto;
  border-radius: 16px;
  border: 1px solid var(--color-scheme-2-border);
  padding: 32px;
  background-color: var(--color-scheme-2-foreground);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
}

.feedbacks-container {
  display: flex;
  gap: 16px;
}

.feedbacks-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-scheme-2-text);
  margin-bottom: 24px;
}

.feedbacks-name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-2-text);
}

.feedbacks-person {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-2-text);
}

/* swiper*/

.feedbacks-swiper {
  position: relative;
  padding-bottom: 64px;
}

.feedbacks-controls {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.feedbacks-custom-swiper-pagination {
  display: flex;
  gap: 8px;
  align-items: center;
}

.feedbacks-custom-swiper-pagination .feedbacks-swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: var(--color-scheme-2-text);
  opacity: 0.3;
  border-radius: 50%;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.feedbacks-custom-swiper-pagination .feedbacks-swiper-pagination-bullet-active {
  opacity: 1;
}

.feedbacks-controls-arrows {
  display: flex;
  gap: 16px;
}

/*.feedbacks-swiper-button-left,
.feedbacks-swiper-button-right {
  background-color: var(--color-accent, #e2570b);
  width: 48px;
  height: 48px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  color: #fff;
  cursor: pointer;
}

.feedbacks-swiper-button-left:hover,
.feedbacks-swiper-button-left:focus,
.feedbacks-swiper-button-right:hover,
.feedbacks-swiper-button-right:focus {
  background: var(--color-scheme-1-background);
  border: 1px solid var(--opacity-neutral-darkest-15);
}

.feedbacks-swiper-button-left:active,
.feedbacks-swiper-button-right:active {
  background: var(--color-bamboo-darker);
}*/

.feedbacks-svg,
.feedbacks-svg {
  fill: #fff;
  align-items: center;
  width: 24px;
  height: 24px;
  transition: fill 250ms ease;
}

/*.feedbacks-swiper-button-left:hover .feedbacks-svg,
.feedbacks-swiper-button-left:focus .feedbacks-svg,
.feedbacks-swiper-button-right:hover .feedbacks-svg,
.feedbacks-swiper-button-right:focus .feedbacks-svg {
  fill: black;
}

.feedbacks-swiper-button-left:active .feedbacks-svg,
.feedbacks-swiper-button-right:active .feedbacks-svg {
  fill: #fff;
}*/

.feedbacks-button-disabled {
  border-color: var(--color-main-black);
  background-color: var(--color-main-black);
  color: var(--color-white);
  opacity: 0.2;
  pointer-events: none;
  cursor: default;
}

@media only screen and (min-width: 768px) {
  .feedbacks-list-item {
    min-height: 244px;
  }
}

@media only screen and (min-width: 1440px) {
  .feedbacks-container-max {
    padding: 64px 64px;
  }

  .feedbacks-title {
    font-size: 48px;
  }

  .feedbacks-list-item {
    min-width: 421px;
    min-height: 231px;
  }
}